# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.cache-synpress

# next.js
.next/
build
**/src/generated.ts

# misc
.DS_Store
*.pem
WARP.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
# turbo
.turbo


# foundry
cache/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/*/1/
/broadcast/**/dry-run/

# subgraph
pkg/subgraph/generated
pkg/**/data
cookies.json
.graphclientrc.yml

lcov.info
# some abi should be ignored
# pkg/contracts/out/**
# !pkg/contracts/out/CVStrategy.sol/CVStrategy.json
# pkg/contracts/out
pkg/contracts/script/Playground.s.sol

pkg/e2e/.cache-synpress/