@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #82c837;
  --color-secondary: #4dafd6;
  --color-surface: #fcfff7;
  --color-white: #ffffff;
  --color-black: #2d2d2d;
  --color-accent: #ffe236;
  --color-red: #dc3030;
  /* adding new figma color to alpha test */
  --border-neutral: #d5d5d5;
  --border-hover: #ff9500;
  --base-orange: #fff4e6;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background-color: #171717;
}

body {
  margin: 0;
  background-color: var(--color-background);
  line-height: 1.15;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: var(--color-black);
  font-family: var(--font-chakra);
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;

  /* @media only screen and (max-width: 680px) {
    font-size: 2.5rem;
  } */
}

h2 {
  color: var(--color-black);
  font-family: var(--font-chakra);
  font-size: 36px;
  font-weight: 600;
  line-height: 46.8px;
  text-align: left;

  /* @media only screen and (max-width: 680px) {
    font-size: 2rem;
  } */
}

h3 {
  color: var(--color-black);
  font-family: var(--font-chakra);
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
  text-align: left;

  /* @media only screen and (max-width: 680px) {
    font-size: 1.75rem;
  } */
}

h4 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-align: left;

  /* @media only screen and (max-width: 680px) {
    font-size: 1.75rem;
  } */
}

/* subtitle 1 */
h5 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 18.4px;
  text-align: left;
}

/* subtitle 2 */
h6 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
}

p {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  /* @media only screen and (max-width: 680px) {
    font-size: 1rem;
  } */
}

span {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 400;
}

button {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 600;
  line-height: 18.4px;
  text-align: left;
}

caption {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: left;
}

.border2 {
  border: 2px solid black;
}

.border1 {
  border: 1px solid var(--border-neutral);
}

/* Hide number input arrows */
.hide-input-arrows::-webkit-outer-spin-button,
.hide-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-input-arrows {
  -moz-appearance: textfield; /* Firefox */
}
