@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #82c837;
  --color-secondary: #4dafd6;
  /* TODO: adjust bg and surface color */
  --color-surface: #fcfff7;
  --color-background: #fcfff7;
  --color-white: #ffffff;
  --color-black: #2d2d2d;
  --color-accent: #ffe236;
  --color-red: #dc3030;
  /* adding new figma color to alpha test */
  --border-neutral: #d5d5d5;
  --border-hover: #ff9500;
  --base-orange: #fff4e6;
  --color-grey-500: #8c8c8c;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background-color: #171717;
}

body {
  margin: 0;
  background-color: var(--color-background);
  line-height: 1.15;
}

/* TODO: add Inter Font */

h1 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: var(--color-black);
  font-family: var(--font-chakra);
  font-size: 3.25rem;
  font-weight: bold;
  @media only screen and (max-width: 680px) {
    font-size: 2.5rem;
  }
}

h2 {
  color: var(--color-black);
  font-family: var(--font-chakra);
  font-size: 2.25rem;
  /*TODO: check the line-height from figma: I think it was too much ??, I put less here */
  line-height: 2.25;
  font-weight: 600;
  @media only screen and (max-width: 680px) {
    font-size: 2rem;
  }
}

h3 {
  color: var(--color-black);
  font-family: var(--font-chakra);
  font-size: 2.25rem;
  @media only screen and (max-width: 680px) {
    font-size: 1.75rem;
  }
}
h4 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 1.5rem;
  line-height: 1.663;
  font-weight: 600;
  @media only screen and (max-width: 680px) {
    font-size: 1.75rem;
  }
}
h5 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 1.375rem;
  line-height: 1.225;
  font-weight: 500;
  @media only screen and (max-width: 680px) {
    font-size: 1.75rem;
  }
}

p {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  @media only screen and (max-width: 680px) {
    font-size: 1rem;
  }
}

span {
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 400;
}

.border2 {
  border: 2px solid black;
}

.border1 {
  border: 1px solid var(--border-neutral);
}

/* Hide number input arrows */
.hide-input-arrows::-webkit-outer-spin-button,
.hide-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-input-arrows {
  -moz-appearance: textfield; /* Firefox */
}
