!out/
out/*
!out/DiamondAggregated/
!out/*CV*
!out/*Allo.*
!out/*Registry*
!out/*ERC20*
!out/*ISafe*
out/*Test*
out/*Deploy*
!out/*PassportScorer*
!out/utils/
out/utils/*
!out/*SafeArbitrator*
!out/*IArbitrator*
!out/*CollateralVault.sol*
!out/utils/Mock*
!out/*GoodDollarSybil.sol*